@font-face {
  font-family: kelson_bold;
  src: url('../fonts/Kelson-Sans-Bold.otf');
}
@font-face {
  font-family: kelson_light;
  src: url('../fonts/Kelson-Sans-Light.otf');
}
@font-face {
  font-family: kelson_regular;
  src: url('../fonts/Kelson-Sans-Regular.otf');
}
@media (max-width: 1366px) {
  .container {
    width: 100%;
  }
}
@font-face {
  font-family: dosis_bold;
  src: url('../fonts/Dosis-Bold.ttf');
}
@font-face {
  font-family: dosis_extrabold;
  src: url('../fonts/Dosis-ExtraBold.ttf');
}
@font-face {
  font-family: dosis_extralight;
  src: url('../fonts/Dosis-ExtraLight.ttf');
}
@font-face {
  font-family: dosis_light;
  src: url('../fonts/Dosis-Light.ttf');
}
@font-face {
  font-family: dosis_medium;
  src: url('../fonts/Dosis-Medium.ttf');
}
@font-face {
  font-family: dosis_regular;
  src: url('../fonts/Dosis-Regular.ttf');
}
@font-face {
  font-family: dosis_semibold;
  src: url('../fonts/Dosis-SemiBold.ttf');
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  opacity: 0;
  z-index: 99999;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  z-index: 10;
}
.test {
  padding: 50px;
  background: gray;
}
.test ul li {
  width: 500px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  background: blue;
}
#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
  background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
.btn {
  background: #f05755;
  padding: 12px 40px;
  font-family: dosis_regular;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border-radius: 40px;
  outline: none !important;
  letter-spacing: 1px;
  box-shadow: none !important;
}
.btn:hover {
  color: #fff;
  opacity: .8;
}
.btn:focus {
  color: #fff;
}
.sign_up_button.disabled {
  background: #C8C8C8 !important;
  color: #9B9B9B !important;
}
h3 {
  font: 36px/46px dosis_medium, tahoma, verdana, arial, sans-serif;
  font-weight: 600;
}
p {
  font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
}
h5 {
  color: #9B9B9B;
  font: 24px/30px dosis_regular, tahoma, verdana, arial, sans-serif;
  font-weight: bold;
}
section {
  padding: 100px 80px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1 {
  font: 42px/53px dosis_medium, tahoma, verdana, arial, sans-serif;
}
/*
 * Custom styles
 */
.navbar-brand {
  font-size: 24px;
}
#brand {
  padding-left: 0px;
}
@media (max-width: 960px) {
  #brand {
    padding: 0px;
  }
}
.navbar.navbar-fixed-top.fixed-theme {
  z-index: 9 !important;
}
.navbar-container {
  padding: 20px 80px;
  padding-top: 20px;
  padding-left: 74px;
}
@media (max-width: 960px) {
  .navbar-container {
    padding: 20px 60px;
    padding-left: 40px;
  }
}
@media (max-width: 639px) {
  .navbar-container {
    padding: 20px 20px;
    padding-left: 20px;
  }
}
.navbar.navbar-fixed-top.fixed-theme {
  background-color: #34314C;
  border-color: #080808;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  z-index: 99999;
}
.navbar-brand.fixed-theme {
  font-size: 18px;
  padding: 9px 15px;
}
@media (max-width: 769px) {
  .navbar-brand.fixed-theme#brand {
    padding: 4px 0px;
  }
}
.navbar-container.fixed-theme {
  padding: 10px 40px;
}
.navbar-container.fixed-theme .mobile_log_in_header_btn {
  padding: 11px 0px;
}
@media (max-width: 639px) {
  .navbar-container.fixed-theme {
    padding: 10px 20px;
  }
}
.nav.navbar-nav {
  float: right;
}
.nav.navbar-nav * {
  color: #fff;
}
.nav.navbar-nav .btn {
  border: 2px solid #fff;
  background: transparent;
}
.nav.navbar-nav .log_in_header_btn {
  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  margin-right: 15px;
}
@media (max-width: 959px) {
  .nav.navbar-nav .log_in_header_btn {
    font-size: 20px;
    line-height: 26px;
  }
}
.nav.navbar-nav .sign_up_btn {
  padding: 10px 65px 13px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
}
@media (max-width: 1199px) {
  .nav.navbar-nav .sign_up_btn {
    padding: 10px 65px 11px;
  }
}
@media (max-width: 959px) {
  .nav.navbar-nav .sign_up_btn {
    padding: 10px 65px 10px;
    font-size: 20px;
    line-height: 26px;
  }
}
.parallax-window {
  min-height: 480px;
  background: transparent;
}
.upper_parallax {
  height: 100vh;
  background: transparent;
}
.navbar-toggle {
  display: none;
}
.mobile_log_in_header_btn {
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 0px;
  display: none;
  outline: none !important;
  color: #fff !important	;
}
@media (max-width: 767px) {
  .mobile_log_in_header_btn {
    display: block;
  }
}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
  transition: 0.8s;
  -webkit-transition: 0.8s;
}
.parallax_block {
  background: transparent;
  height: 100vh;
  min-height: 850px;
  width: 100%;
  z-index: 99;
}
@media (max-width: 959px) {
  .parallax_block {
    max-height: 752px;
  }
}
@media (max-width: 639px) {
  .parallax_block {
    max-height: 517px;
  }
}
.middle_parallax {
  background: transparent;
  height: 100vh;
  min-height: 850px;
  width: 100%;
}
@media (max-width: 959px) {
  .middle_parallax {
    max-height: 752px;
  }
}
@media (max-width: 639px) {
  .middle_parallax {
    max-height: 517px;
  }
}
#wrapper #request_invite_modal .modal-dialog {
  height: 490px;
  width: 870px;
  margin: 110px auto;
}
#wrapper #request_invite_modal .modal-dialog .modal-content {
  text-align: center;
  padding: 60px 60px 44px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
#wrapper #request_invite_modal .modal-dialog .modal-content h2 {
  color: #333333;
  font-family: dosis_regular;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
  margin-top: 0px;
}
#wrapper #request_invite_modal .modal-dialog .modal-content > p {
  color: #747474;
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form {
  margin-top: 13px;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .form_input {
  width: 300px;
  height: 48px;
  border: 2px solid #DEDEDE;
  padding-left: 10px;
  margin: 5px;
  color: #333333;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  background-color: #FFFFFF;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .form_input,
#wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select,
#wrapper #request_invite_modal .modal-dialog .modal-content form .filter-option,
#wrapper #request_invite_modal .modal-dialog .modal-content form .text {
  font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .fa-eye {
  font-family: 'Font Awesome\ 5 Free' !important;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .fa-eye:hover {
  opacity: .8;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .form_control,
#wrapper #request_invite_modal .modal-dialog .modal-content form .input-group-btn {
  display: inline-block;
  vertical-align: top;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .reveal_password_btn {
  position: absolute;
  top: 17px;
  right: 13px;
  border: none;
  background: none;
  font-size: 16px;
  outline: none !important;
  color: #F05555;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .form_control {
  position: relative;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select {
  width: 300px;
  height: 48px;
  margin: 5px;
  margin-top: -3px;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select .bs-caret {
  right: 11px;
  position: absolute;
  font-size: 23px;
  top: 8px;
  color: #F05555;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select .btn {
  outline: none !important;
  font-size: 14px;
  width: 300px;
  height: 48px;
  border-radius: 5px;
  padding: 0px;
  padding-left: 12px;
  background-color: transparent;
  color: #757575 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #DEDEDE;
}
#wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select .btn:hover {
  color: #757575 !important;
}
#wrapper #request_invite_modal .modal-dialog .modal-content .sign_up_button {
  display: block;
  border: none;
  width: 346px;
  height: 60px;
  margin: 0px auto;
  margin-top: 30px;
  font-size: 23px;
  padding: 15px 40px;
  background: linear-gradient(47.33deg, #f25557 0%, #f27858 100%), linear-gradient(47.33deg, #f25557 0%, #f27858 100%);
}
#wrapper #request_invite_modal .modal-dialog .modal-content .already_registered_text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #747474;
  margin-top: 16px;
}
#wrapper #request_invite_modal .modal-dialog .modal-content .already_registered_text a.sign_in_btn {
  color: #F05555;
}
#wrapper #request_invite_modal .modal-dialog .modal-content .secondary_button {
  font-size: 16px;
  font-family: kelson_regular;
  color: gray;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}
#wrapper #request_invite_modal .close {
  position: absolute;
  top: -11px;
  right: -28px;
  opacity: 1;
  color: #fff;
  font-size: 36px;
}
@media screen and (max-width: 959px) {
  #wrapper #request_invite_modal .modal-dialog {
    max-width: 620px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content {
    padding: 18px 0px 20px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content h2 {
    text-align: left;
    padding-left: 30px;
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content p {
    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
    padding-left: 30px;
    text-align: left;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .sign_up_form {
    border-top: 1px solid #DEDEDE;
    padding: 0px 30px;
    padding-top: 18px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .form_input {
    width: 267px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select {
    width: 267px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select .btn {
    width: 100%;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .sign_up_button {
    padding: 10px 65px 10px;
    font-size: 20px;
    line-height: 26px;
    height: auto;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .already_registered_text {
    font: 14px/17px dosis_regular, tahoma, verdana, arial, sans-serif;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .close {
    outline: none !important;
    top: 7px;
    right: 19px;
    color: #F05555;
  }
}
@media screen and (max-width: 639px) {
  #wrapper #request_invite_modal .modal-dialog {
    margin: 60px auto;
    max-width: 100%;
    width: 80%;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content {
    padding: 12px 0px 12px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content > p {
    display: none;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content h2 {
    font: 20px/26px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
    padding-left: 52px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .close {
    top: 5px;
    left: 19px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .sign_up_form {
    padding: 0px 20px;
    padding-top: 13px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .form_input {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .form_control {
    width: 100%;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .filter-option,
  #wrapper #request_invite_modal .modal-dialog .modal-content form .text,
  #wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select,
  #wrapper #request_invite_modal .modal-dialog .modal-content form .form_input {
    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content form .bootstrap-select {
    margin-right: 0px;
    margin-left: 0px;
    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
    width: 100%;
    margin-top: 7px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .sign_up_button {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  #wrapper #request_invite_modal .modal-dialog .modal-content .already_registered_text {
    padding-left: 0px;
  }
}
#wrapper #mighty_vet_education_team_modal .modal-dialog {
  width: 958px;
  height: auto;
  margin: 70px auto;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content {
  text-align: center;
  padding: 60px 30px 44px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li {
  width: 420px;
  min-height: 100px;
  border: 1px solid #DEDEDF;
  display: inline-block;
  vertical-align: top;
  margin: 13px 13px;
  border-radius: 10px;
  padding: 30px 0px;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li img {
  display: inline-block;
  vertical-align: top;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block {
  width: 268px;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  text-align: left;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block h5 {
  color: #333333;
  font-family: dosis_regular;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block span,
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block p {
  color: #9B9B9B;
  font-family: dosis_regular;
  font-size: 14px;
  line-height: 17px;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block span {
  height: 59px;
  display: inline-block;
  vertical-align: top;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content .see_more_button {
  background-color: #FAFAFA;
  color: #f05755;
  display: inline-block !important;
  vertical-align: top;
  padding: 10px 30px;
  font-family: kelson_bold;
  font-size: 20px;
  text-decoration: none;
  border-radius: 40px;
  margin-top: 20px;
}
#wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content .see_more_button:hover {
  background-color: #f05755;
  color: #ffffff;
}
#wrapper #mighty_vet_education_team_modal .close {
  position: absolute;
  top: -11px;
  right: -28px;
  opacity: 1;
  color: #fff;
  font-size: 36px;
}
@media screen and (max-width: 1199px) {
  #wrapper #mighty_vet_education_team_modal .modal-dialog {
    max-width: 750px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content h3 {
    margin-bottom: 55px;
    margin-top: 0px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li {
    padding: 30px;
    text-align: left;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block {
    width: 85%;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block span {
    height: 51px;
  }
}
@media screen and (max-width: 959px) {
  #wrapper #mighty_vet_education_team_modal .modal-dialog {
    max-width: 547px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content {
    padding: 20px 0px 44px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content h3 {
    margin-bottom: 0px;
    padding-bottom: 19px;
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 30px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content .education_team_list {
    border-top: 1px solid #DEDEDE;
    padding: 0px 30px;
    padding-top: 18px;
  }
  #wrapper #mighty_vet_education_team_modal .modal-dialog .modal-content ul.education_team_list li .profile_block {
    width: 77%;
  }
  #wrapper #mighty_vet_education_team_modal .close {
    top: 20px;
    right: 27px;
    color: #F05555;
  }
}
#wrapper #splash_section {
  height: 100vh;
  width: 100%;
  background: #f05755a6;
  padding: 0px !important;
}
#wrapper #splash_section .container {
  position: absolute;
  top: 196px;
  text-align: center;
}
#wrapper #splash_section .container .mobile_title_container {
  display: none;
}
@media (max-width: 639px) {
  #wrapper #splash_section .container .mobile_title_container {
    display: block;
  }
}
#wrapper #splash_section .container .mobile_title_container .content h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}
#wrapper #splash_section .container .mobile_title_container .btn_container .btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding: 11px 65px;
}
#wrapper #splash_section .container .mobile_title_container .btn_container .learn_more_btn {
  margin-left: 0px;
}
#wrapper #splash_section .container .mobile_title_container .btn_container .learn_more_btn span {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  display: block;
}
#wrapper #splash_section .container .mobile_title_container .offers_list {
  margin-bottom: 60px;
}
#wrapper #splash_section .container .mobile_title_container .offers_list li {
  height: 60px;
  vertical-align: middle;
}
#wrapper #splash_section .container .mobile_title_container .offers_list li * {
  color: #fff;
}
#wrapper #splash_section .container .mobile_title_container .offers_list li.offers_item {
  display: inline-block;
  vertical-align: top;
  padding: 7px 30px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
#wrapper #splash_section .container .mobile_title_container .offers_list li.offers_item:last-child {
  border-right: 2px solid transparent;
}
#wrapper #splash_section .container .mobile_title_container .offers_list li.offers_item p {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}
#wrapper #splash_section .container .mobile_title_container .offers_list li.offers_item .fas {
  height: 25px;
  font-size: 17px;
  display: block;
}
#wrapper #splash_section .container .title_container {
  margin: 0px auto;
  margin-top: 80px;
  text-align: left;
  max-width: 913px;
}
@media (max-width: 639px) {
  #wrapper #splash_section .container .title_container {
    display: none;
  }
}
#wrapper #splash_section .container .title_container .offers_list {
  margin-bottom: 60px;
}
#wrapper #splash_section .container .title_container .offers_list li {
  height: 60px;
  vertical-align: middle;
}
#wrapper #splash_section .container .title_container .offers_list li * {
  color: #fff;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item {
  display: inline-block;
  vertical-align: top;
  padding: 7px 30px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item:last-child {
  border-right: 2px solid transparent;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item:last-child p {
  max-width: 200px;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item:first-child {
  padding-left: 0px;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item:first-child p {
  margin-top: 8px;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item p {
  font-size: 24px;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  max-width: 155px;
}
#wrapper #splash_section .container .title_container .offers_list li.offers_item .fas {
  margin-right: 9px;
  font-size: 44px;
}
#wrapper #splash_section .container .content * {
  color: #fff;
}
#wrapper #splash_section .container .content > h2 {
  font-size: 24px;
  font-family: dosis_regular;
  margin-bottom: 0px;
}
#wrapper #splash_section .container .content > h2 img {
  width: 200px;
}
#wrapper #splash_section .container .content h1 {
  margin-bottom: 33px;
  margin-top: 10px;
  font-size: 42px;
  font-weight: 600;
  line-height: 53px;
}
#wrapper #splash_section .container .content p {
  font-family: dosis_light;
}
#wrapper #splash_section .container .btn_container .btn {
  padding: 16px 65px;
  background: #fff;
  color: #F05555;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
}
#wrapper #splash_section .container .btn_container .learn_more_btn {
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}
#wrapper #splash_section .container .btn_container .learn_more_btn:hover {
  text-decoration: none !important;
}
#wrapper #splash_section .container .btn_container .learn_more_btn span {
  margin-right: 10px;
}
@media (min-width: 1200px) {
  #wrapper #splash_section .container {
    width: 100%;
  }
}
@media (max-width: 1201px) {
  #wrapper #splash_section .container .title_container {
    margin-left: 80px;
  }
}
@media (max-width: 1199px) {
  #wrapper #splash_section .container .title_container {
    margin-left: 44px;
  }
}
@media (max-width: 959px) {
  #wrapper #splash_section {
    max-height: 752px;
  }
  #wrapper #splash_section .container {
    top: 133px;
  }
  #wrapper #splash_section .container .title_container {
    margin-left: 25px;
    padding-right: 25px;
  }
  #wrapper #splash_section .container .title_container .offers_list {
    margin-bottom: 2px;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item {
    display: block;
    padding: 0px;
    border-right: none;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item .fas {
    width: 30px;
    font-size: 28px;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item .fas.fa-user-md {
    font-size: 32px;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item .fas.fa-laptop {
    font-size: 23px;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item p {
    margin-top: 5px;
    max-width: 100%;
    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item:first-child p {
    margin-top: 0px;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item:last-child {
    padding-top: 8px;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item:last-child p {
    margin-top: 0px;
    max-width: 100%;
  }
  #wrapper #splash_section .container .title_container .offers_list li.offers_item:last-child .fas {
    border-bottom: none;
  }
  #wrapper #splash_section .container .title_container .btn_container .btn {
    padding: 10px 65px 10px;
    font-size: 20px;
    line-height: 26px;
  }
  #wrapper #splash_section .container .title_container .btn_container .learn_more_btn {
    margin-top: 12px;
  }
  #wrapper #splash_section .container .title_container .btn_container .learn_more_btn span {
    font-family: dosis_semibold;
    font-size: 20px;
    line-height: 26px;
  }
  #wrapper #splash_section .container .content > h2 {
    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
  }
  #wrapper #splash_section .container .content h1 {
    font: 36px/46px dosis_bold, tahoma, verdana, arial, sans-serif;
  }
}
@media (max-width: 639px) {
  #wrapper #splash_section {
    max-height: 540px;
  }
  #wrapper #splash_section .container .mobile_title_container .btn_container .btn {
    max-width: 350px;
    display: block;
    margin: 0px auto;
  }
}
@media (max-width: 520px) {
  #wrapper #splash_section .container .mobile_title_container .offers_list li.offers_item {
    padding: 7px 7px;
  }
}
#wrapper #my_vet_offering_section {
  padding: 0px;
}
#wrapper #my_vet_offering_section h3 {
  text-align: left;
}
#wrapper #my_vet_offering_section #weekly_webinar_container {
  background: #FAFAFA;
  padding: 110px 80px 120px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container > h3 {
  color: #F05555;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 47px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .left_container,
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .left_container {
  width: 350px;
  margin-right: 77px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .container {
  text-align: center;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .btn {
  color: #fff !important ;
  margin-top: 20px;
  background: linear-gradient(47.33deg, #f25557 0%, #f27858 100%), linear-gradient(47.33deg, #f25557 0%, #f27858 100%);
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container {
  padding-top: 24px;
  width: 65%;
  position: relative;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container > span {
  margin-bottom: 16px;
  display: inline-block;
  font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
  color: #F05555;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container {
  width: 100%;
  box-shadow: 6px 0 5px -3px #bfbfbf;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide {
  margin-right: 30px;
  width: 450px !important;
  background: linear-gradient(47.33deg, #f25557 0%, #f27858 100%), linear-gradient(47.33deg, #f25557 0%, #f27858 100%);
  border-radius: 15px;
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide img {
  width: 160px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content {
  width: 225px;
  vertical-align: top;
  display: inline-block;
  padding-left: 20px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content > h6 {
  font: 16px/30px dosis_regular, tahoma, verdana, arial, sans-serif;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content * {
  color: #ffffff;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content p {
  font: 14px/17px dosis_regular, tahoma, verdana, arial, sans-serif;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content .btn {
  font-size: 12px;
  border: 1px solid #fff;
  padding: 5px 20px;
  margin-top: 0px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-button-next {
  right: -10px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .next_swipper_btn,
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .prev_swipper_btn {
  top: 55%;
  z-index: 8;
  cursor: pointer;
  position: absolute;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .next_swipper_btn .fas,
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .prev_swipper_btn .fas {
  font-size: 32px;
  color: #F05555;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .next_swipper_btn.swiper-button-disabled,
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .prev_swipper_btn.swiper-button-disabled {
  display: none;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .prev_swipper_btn {
  left: -43px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .next_swipper_btn {
  right: -43px;
}
#wrapper #my_vet_offering_section #weekly_webinar_container .right_container .the_martian_container {
  display: inline-block;
  background: #f05755;
  vertical-align: top;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 30px;
}
@media (min-width: 1200px) {
  #wrapper #my_vet_offering_section #weekly_webinar_container .container {
    width: 100%;
  }
}
@media (max-width: 1440px) {
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container {
    width: 56%;
  }
}
@media (max-width: 1199px) {
  #wrapper #my_vet_offering_section .btn {
    padding: 13px 40px;
    font-size: 21px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container {
    padding: 110px 60px 100px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .container {
    padding: 0px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .left_container {
    width: 332px;
    margin-right: 63px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container {
    width: 417px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content {
    width: 222px;
  }
}
@media screen and (max-width: 959px) {
  #wrapper #my_vet_offering_section #weekly_webinar_container {
    padding: 89px 40px 61px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container > h3 {
    margin-bottom: 26px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container h3 {
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container p {
    font-size: 16px;
    line-height: 20px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .container {
    text-align: left;
    padding-left: 12%;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container {
    width: 95%;
    padding-top: 45px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container span {
    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .left_container {
    width: 100%;
    margin-right: 0px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .left_container .btn {
    margin-top: 10px;
    padding: 10px 35px 10px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 639px) {
  #wrapper #my_vet_offering_section #weekly_webinar_container {
    padding: 53px 20px 61px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .container {
    padding-left: 0px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container > h3 {
    margin-bottom: 12px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container p {
    font-size: 15px;
    line-height: 22px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container h3 {
    text-align: center;
    font: 20px/26px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .left_container {
    text-align: center;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .left_container .btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 350px;
    display: block;
    margin: 0px auto;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container .next_swipper_btn {
    display: none;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide {
    width: 300px !important;
    height: 180px;
    padding: 15px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide img {
    width: auto;
    height: 100%;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content {
    width: 162px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content h5 {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
  }
  #wrapper #my_vet_offering_section #weekly_webinar_container .right_container #mighty_vet_offering_swipper_container .swiper-slide .content > p {
    display: none;
  }
}
#wrapper #mightyvet_highlights_section {
  padding: 110px 80px 61px;
  background: linear-gradient(47.33deg, #f25557 0%, #f27858 100%), linear-gradient(47.33deg, #f25557 0%, #f27858 100%);
}
#wrapper #mightyvet_highlights_section .container * {
  color: #ffffff;
}
#wrapper #mightyvet_highlights_section .container h3 {
  text-align: center;
  margin-top: 0px;
}
#wrapper #mightyvet_highlights_section .container .list-unstyled {
  text-align: center;
  margin-top: 57px;
}
#wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item {
  text-align: center;
  margin-bottom: 46px;
  display: block;
  vertical-align: top;
}
#wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item img {
  display: inline-block;
  vertical-align: top;
}
#wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content {
  text-align: left;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
}
#wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content h3 {
  text-align: left;
}
@media screen and (min-width: 1200px) {
  #wrapper #mightyvet_highlights_section .container {
    width: 100%;
  }
}
@media screen and (max-width: 959px) {
  #wrapper #mightyvet_highlights_section {
    padding: 80px 40px 50px;
  }
  #wrapper #mightyvet_highlights_section .container {
    max-width: 600px;
    padding: 0px;
    text-align: left;
  }
  #wrapper #mightyvet_highlights_section .container h3 {
    padding-left: 78px;
    text-align: left;
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled {
    text-align: left;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item {
    margin-bottom: 36px;
    text-align: left;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content {
    max-width: 80%;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content h3 {
    padding-left: 0px;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 639px) {
  #wrapper #mightyvet_highlights_section {
    padding: 60px 20px 20px;
  }
  #wrapper #mightyvet_highlights_section .container h3 {
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item {
    text-align: center;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content {
    text-align: center;
    max-width: 100%;
    padding: 0px;
  }
  #wrapper #mightyvet_highlights_section .container .list-unstyled .highlights_item .content h3 {
    text-align: center;
  }
}
#wrapper #what_mightyvet_section {
  background-color: #ffffff;
  text-align: center;
  padding: 88px 80px 80px;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block {
  border-top: 1px solid #DEDEDF;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block h4 {
  color: #F05555;
  font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li {
  display: inline-block !important;
  vertical-align: top;
  margin: 20px 5px;
  width: 250px;
  vertical-align: middle;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li:hover {
  opacity: .5;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item p {
  max-width: 690px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 92px;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item h3 {
  margin-top: 0px;
  color: #F05555;
  margin-bottom: 17px;
}
#wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block {
  padding: 80px 0px 0px;
}
@media (max-width: 1260px) {
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li {
    width: 23.33%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li.blue_heron_item img {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  #wrapper #what_mightyvet_section {
    padding: 88px 40px 80px;
  }
}
@media (max-width: 959px) {
  #wrapper #what_mightyvet_section .what_mightyvet_section_list {
    padding: 0px;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item h3 {
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    color: #333333;
    font-weight: 600;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item p {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block {
    padding: 44px 0px 0px;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li {
    vertical-align: middle;
    width: 22%;
  }
}
@media (max-width: 720px) {
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li img {
    width: 100%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .featured_block ul li.blue_heron_item {
    width: auto;
  }
}
@media (max-width: 639px) {
  #wrapper #what_mightyvet_section {
    padding: 58px 20px 41px;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item p {
    margin-bottom: 32px;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block {
    padding: 18px 0px 0px;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li {
    width: 33%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li img {
    width: auto;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li.blue_heron_item {
    width: 100%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li.blue_heron_item img {
    width: auto;
  }
}
@media (max-width: 520px) {
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li {
    width: 100%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li img {
    width: auto;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li.blue_heron_item {
    width: 100%;
  }
  #wrapper #what_mightyvet_section .what_mightyvet_section_list .what_mightyvet_section_item.featured_block ul li.blue_heron_item img {
    width: auto;
  }
}
#wrapper #mentor_section {
  background-color: #ffffff;
  padding: 143px 40px 176px;
}
#wrapper #mentor_section .container {
  text-align: center;
}
#wrapper #mentor_section .container .btn {
  margin-top: 10px;
  background-image: -webkit-linear-gradient(303deg, #f25557 0%, #f27858 100%), -webkit-linear-gradient(303deg, #f25557 0%, #f27858 100%);
  background-image: -o-linear-gradient(303deg, #f25557 0%, #f27858 100%), -o-linear-gradient(303deg, #f25557 0%, #f27858 100%);
  background-image: linear-gradient(33deg, #f25557 0%, #f27858 100%), linear-gradient(33deg, #f25557 0%, #f27858 100%);
}
#wrapper #mentor_section .mentor_description {
  margin-right: 100px;
  max-width: 407px;
  text-align: left;
  display: inline-block !important;
  vertical-align: top !important;
}
#wrapper #mentor_section .featured_mentors_container {
  display: inline-block !important;
  vertical-align: top !important;
  margin-left: 10px;
}
#wrapper #mentor_section .education_team_container {
  display: inline-block;
  vertical-align: top;
  width: 556px;
  position: relative;
}
#wrapper #mentor_section .education_team_container > h5 {
  margin-top: -11px;
  margin-bottom: 34px;
  display: block;
  font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
  color: #F05555;
}
#wrapper #mentor_section .education_team_container .education_team_content {
  height: 350px;
  position: relative;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list {
  z-index: 1;
  position: relative;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li {
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  text-align: left;
  display: none;
  background: #fff;
  min-height: 100px;
  border: 1px solid #DEDEDF;
  vertical-align: top;
  border-radius: 10px;
  padding: 30px;
  z-index: -99;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li:first-child {
  display: block;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li img {
  display: inline-block;
  vertical-align: top;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li.active {
  z-index: 9999;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  text-align: left;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block h5 {
  color: #333333;
  font-family: dosis_regular;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block span,
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block p {
  color: #9B9B9B;
  font-family: dosis_regular;
  font-size: 14px;
  line-height: 17px;
}
#wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block span {
  height: 59px;
  display: inline-block;
  vertical-align: top;
}
#wrapper #mentor_section .education_team_container .education_team_content .border_container {
  border-radius: 10px;
  border: 1px solid #DEDEDF;
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}
#wrapper #mentor_section .education_team_container .education_team_content .border_container.first_border {
  width: 95%;
  top: -8px;
}
#wrapper #mentor_section .education_team_container .education_team_content .border_container.second_border {
  width: 90%;
  top: -16px;
}
#wrapper #mentor_section .education_team_container .education_team_content .border_container.last_border {
  width: 85%;
  top: -24px;
}
#wrapper #mentor_section .education_team_container .btn_container #view_all_mentors_btn,
#wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn {
  font-family: dosis_regular;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  outline: none !important;
  text-decoration: none;
}
#wrapper #mentor_section .education_team_container .btn_container #view_all_mentors_btn {
  color: #F05555;
}
#wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn {
  float: right;
}
#wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn .carousel_btn {
  text-decoration: none;
  padding: 0px 5px;
  color: #F05555;
}
#wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn .carousel_btn.disabled {
  color: #C8C8C8;
}
#wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn .carousel_btn.previous_mentor_btn {
  border-right: 1px solid #c8c8c8;
}
@media screen and (max-width: 1199px) {
  #wrapper #mentor_section .education_team_container {
    width: 438px;
    height: 100%;
  }
  #wrapper #mentor_section .mentor_description {
    margin-right: 69px;
    max-width: 320px;
  }
  #wrapper #mentor_section .education_team_container .education_team_content {
    min-height: 394px;
  }
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block {
    width: 70%;
  }
}
@media screen and (max-width: 959px) {
  #wrapper #mentor_section {
    padding: 49px 40px 61px;
  }
  #wrapper #mentor_section .mentor_description {
    margin-right: 0px;
    margin-bottom: 37px;
    max-width: 100%;
  }
  #wrapper #mentor_section .education_team_container {
    width: 100%;
    max-width: 650px;
  }
  #wrapper #mentor_section .education_team_container > h5 {
    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
    text-align: center;
  }
  #wrapper #mentor_section .container {
    text-align: left;
    padding-left: 12%;
  }
  #wrapper #mentor_section h3 {
    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
    font-weight: 600;
  }
  #wrapper #mentor_section p {
    font-size: 16px;
    line-height: 20px;
  }
  #wrapper #mentor_section .btn {
    margin-top: 10px;
    padding: 10px 35px 10px;
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 639px) {
  #wrapper #mentor_section {
    padding: 37px 20px 61px;
  }
  #wrapper #mentor_section .container {
    padding: 0px;
  }
  #wrapper #mentor_section .mentor_description {
    text-align: center;
  }
  #wrapper #mentor_section .btn {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 350px;
    display: block;
    margin: 0px auto;
  }
  #wrapper #mentor_section #view_all_mentors_btn {
    display: none;
  }
  #wrapper #mentor_section .education_team_container .btn_container .next_and_previous_container_btn {
    float: none;
    text-align: center;
    margin-top: 11px;
  }
}
@media screen and (max-width: 590px) {
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li img {
    position: absolute;
  }
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block {
    width: 100%;
  }
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block > h5,
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block > span {
    padding-left: 90px;
    width: 100%;
  }
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
  }
  #wrapper #mentor_section .education_team_container .education_team_content ul.education_team_list li .profile_block span {
    height: auto;
    min-height: 52px;
    padding-bottom: 18px;
  }
}
#wrapper #mentor_section #slider img {
  width: 100%;
  height: auto;
}
#wrapper #mentor_section #slider {
  position: relative;
  padding-bottom: 29.5%;
}
#wrapper #mentor_section #slider > div {
  position: absolute;
  display: none;
}
#wrapper #footer_section {
  background-color: #34314c;
}
#wrapper #footer_section .container .upper_sign_up_container {
  display: none;
}
#wrapper #footer_section .container .footer_sublinks {
  margin-right: 30px;
  color: #ADADAD;
  font-family: dosis_regular;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
#wrapper #footer_section .container #footer_list .footer_item {
  height: 252px;
  display: inline-block;
  vertical-align: top;
  width: 32%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
#wrapper #footer_section .container #footer_list .footer_item p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 7px;
  width: 85%;
}
#wrapper #footer_section .container #footer_list .main_footer .follow_us_text {
  display: none;
}
#wrapper #footer_section .container #footer_list .main_footer a {
  display: block;
  text-decoration: none;
}
#wrapper #footer_section .container #footer_list .main_footer a span {
  margin-left: 5px;
  color: #2C4AAA;
  font-family: dosis_regular;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
#wrapper #footer_section .container #footer_list .main_footer > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 17px;
}
#wrapper #footer_section .container #footer_list .main_footer .twitter_button {
  border: 1px solid #30A0F5;
  width: 210px;
  border-radius: 40px;
  text-align: center;
  height: 45px;
  padding: 10px;
  margin-bottom: 10px;
}
#wrapper #footer_section .container #footer_list .main_footer .twitter_button span {
  color: #30A0F5;
  font-family: dosis_regular;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}
#wrapper #footer_section .container #footer_list .main_footer .twitter_button:hover {
  border-color: #ffffff;
}
#wrapper #footer_section .container #footer_list .main_footer .twitter_button:hover span {
  color: #ffffff;
}
#wrapper #footer_section .container #footer_list .main_footer .fb_button {
  margin-top: 18px;
  background-color: #ffffff;
  width: 130px;
  height: 45px;
  padding: 8px;
  border-radius: 40px;
  text-align: center;
  border: 1px solid #2E4FA6;
}
#wrapper #footer_section .container #footer_list .footer_signin {
  margin-left: 30px;
  border: 0px solid red;
  padding: 110px 0px;
}
#wrapper #footer_section .container #footer_list .footer_signin a {
  font-family: dosis_semibold;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
}
#wrapper #footer_section .container #footer_list .footer_signin .sign_up_btn {
  border: 1px solid #ffffff;
  border-radius: 40px;
  padding: 10px 63px;
  margin-left: 27px;
}
#wrapper #footer_section .container #footer_list .footer_signin .sign_up_btn:hover {
  background-color: #f05755;
}
#wrapper #footer_section .container #footer_list .company_contacts {
  padding-left: 30px;
}
#wrapper #footer_section .container #footer_list .company_contacts div {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
}
#wrapper #footer_section .container #footer_list .company_contacts span {
  display: block;
  color: #ffffff;
  font-family: dosis_light;
}
#wrapper #footer_section .container #footer_list .company_contacts li {
  margin-bottom: 20px;
}
#wrapper #footer_section .container #footer_list .company_contacts .contact_label {
  font-family: dosis_semibold;
  font-size: 14px;
}
@media (max-width: 1199px) {
  #wrapper #footer_section {
    padding: 60px;
    text-align: center;
  }
  #wrapper #footer_section .container {
    padding: 0px;
    display: inline-block;
    text-align: left;
    width: auto;
  }
  #wrapper #footer_section .container #footer_list {
    margin-bottom: 20px;
  }
  #wrapper #footer_section .container #footer_list .footer_item {
    width: 260px;
  }
  #wrapper #footer_section .container #footer_list .company_contacts {
    padding-left: 5px;
  }
  #wrapper #footer_section .container #footer_list .company_contacts div {
    width: 200px;
  }
  #wrapper #footer_section .container #footer_list .footer_signin {
    text-align: center;
    padding: 74px 0px;
  }
  #wrapper #footer_section .container #footer_list .footer_signin a {
    display: block;
    vertical-align: top;
    text-align: center;
  }
  #wrapper #footer_section .container #footer_list .footer_signin .sign_up_btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 19px;
    margin-left: 0px;
    padding: 13px 65px;
  }
}
@media screen and (max-width: 959px) {
  #wrapper #footer_section {
    padding: 62px 44px 60px;
  }
  #wrapper #footer_section .container {
    width: 100%;
    position: relative;
  }
  #wrapper #footer_section .container #footer_list .footer_item {
    height: auto;
    padding: 30px 0px;
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 0px solid rgba(0, 0, 0, 0.3);
  }
  #wrapper #footer_section .container #footer_list .footer_item p {
    width: 100%;
  }
  #wrapper #footer_section .container #footer_list .footer_item .mighty_vet_container,
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container {
    display: inline-block;
    vertical-align: top;
  }
  #wrapper #footer_section .container #footer_list .footer_item ul,
  #wrapper #footer_section .container #footer_list .footer_item .follow_us_text {
    display: inline-block;
    vertical-align: top;
  }
  #wrapper #footer_section .container #footer_list .footer_item #contact_list .contact_item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container {
    float: right;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container li:last-child {
    margin-right: 0px;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container span.follow_us_text {
    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
    color: #fff;
    display: inline-block;
    margin-top: 11px;
    margin-right: 15px;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container span {
    display: none;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container .twitter_button,
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container .fb_button {
    width: 45px;
    margin-top: 0px;
  }
  #wrapper #footer_section .container #footer_list .sign_up_container {
    float: right;
    display: inline-block;
    vertical-align: top;
  }
  #wrapper #footer_section .container #footer_list .sign_up_container .sign_in_btn {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
  }
  #wrapper #footer_section .container #footer_list .footer_signin {
    border: none;
    margin-left: 0px;
  }
  #wrapper #footer_section .container #footer_list .footer_signin .sign_in_btn {
    padding: 10px 35px 10px;
    font-size: 20px;
    line-height: 26px;
  }
  #wrapper #footer_section .container #footer_list .footer_signin .sign_up_btn {
    padding: 10px 35px 10px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 0px;
  }
  #wrapper #footer_section .container .terms_and_privacy_container {
    position: absolute;
    bottom: 45px;
  }
}
@media screen and (max-width: 639px) {
  #wrapper #footer_section {
    padding: 0px 20px 20px;
  }
  #wrapper #footer_section .mighty_vet_container img {
    width: 95px;
  }
  #wrapper #footer_section .container .terms_and_privacy_container {
    bottom: 17px;
  }
  #wrapper #footer_section .container #footer_list .footer_item .social_media_btn_container {
    display: none;
  }
  #wrapper #footer_section .container #footer_list .footer_item #contact_list .contact_item {
    width: 100%;
  }
  #wrapper #footer_section .container #footer_list .footer_item .sign_up_container {
    display: none;
  }
  #wrapper #footer_section .container #footer_list .footer_item .upper_sign_up_container {
    display: block;
  }
  #wrapper #footer_section .container #footer_list .footer_item .upper_sign_up_container .sign_in_btn {
    background: transparent;
    border: 1px solid #fff;
    margin-right: 10px;
  }
  #wrapper #footer_section .container #footer_list .footer_item .upper_sign_up_container .btn {
    padding: 12px 0px;
    font-size: 16px;
    width: 50%;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  #wrapper #footer_section .container #footer_list .footer_item .upper_sign_up_container .sign_up_btn {
    background: #fff;
    color: #F25C58;
  }
}
