@orange: #F05755;
@black: #333233;
@light_gray: #FAFAFA;
@white: #ffffff;
@blue_violet: #34314C;


@font-face {
    font-family: kelson_bold;
    src: url('../fonts/Kelson-Sans-Bold.otf');
}
@font-face {
    font-family: kelson_light;
    src: url('../fonts/Kelson-Sans-Light.otf');
}
@font-face {
    font-family: kelson_regular;
    src: url('../fonts/Kelson-Sans-Regular.otf');
}

*{
	// border: 1px solid red;
}

@media (max-width: 1366px){
	.container {
    	width: 100%;
	}
}

@font-face {
    font-family: dosis_bold;
    src: url('../fonts/Dosis-Bold.ttf');
}
@font-face {
    font-family: dosis_extrabold;
    src: url('../fonts/Dosis-ExtraBold.ttf');
}
@font-face {
    font-family: dosis_extralight;
    src: url('../fonts/Dosis-ExtraLight.ttf');
}
@font-face {
    font-family: dosis_light;
    src: url('../fonts/Dosis-Light.ttf');
}
@font-face {
    font-family: dosis_medium;
    src: url('../fonts/Dosis-Medium.ttf');
}
@font-face {
    font-family: dosis_regular;
    src: url('../fonts/Dosis-Regular.ttf');
}
@font-face {
    font-family: dosis_semibold;
    src: url('../fonts/Dosis-SemiBold.ttf');
}

.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  // cursor: e-resize;
  opacity: 0;
  z-index: 99999;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  // cursor: w-resize;
  z-index: 10;
}

.test{
	padding: 50px;
	background: gray;
	ul{
		li{
			width: 500px;
			height: 200px;
			display: inline-block;
			vertical-align: top;
			background: blue;
		}
	}

}

#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  transform: rotate(30deg) scale(0.8);
  transition: 1s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
  z-index: 10;
}
.rotate-right {
  transform: rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
  z-index: 10;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: green;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}

.btn{
	background: @orange;
	padding: 12px 40px;
	font-family: dosis_regular;
    font-size: 24px;
    font-weight: 600;
	color: #fff;
	border-radius: 40px;
	outline: none !important;
    letter-spacing: 1px;
    box-shadow: none !important;
	&:hover{
		color: #fff;
		opacity: .8;
	}
	&:focus{
		color: #fff;
	}	
}

.sign_up_button{
	&.disabled{
		background: #C8C8C8 !important;
		color: #9B9B9B !important;
	}
}

h3 {
    font: 36px/46px dosis_medium,tahoma,verdana,arial,sans-serif;
    font-weight: 600;
}

p{
	font: 20px/26px dosis_regular,tahoma,verdana,arial,sans-serif;
}

h5{
	color: #9B9B9B;
	font: 24px/30px dosis_regular,tahoma,verdana,arial,sans-serif;
	font-weight: bold;
}

section {
	padding: 100px 80px;
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

h1{
    font: 42px/53px dosis_medium, tahoma, verdana, arial, sans-serif;
}


/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

#brand{
	padding-left: 0px;
	@media (max-width: 960px){
		padding: 0px;
	}
}

.navbar.navbar-fixed-top.fixed-theme {
	z-index: 9 !important;
}

.navbar-container {
    padding: 20px 80px;
    padding-top: 20px;
    padding-left: 74px;	

	@media (max-width: 960px){
	   padding: 20px 60px;
	   padding-left: 40px;
	}
	@media (max-width: 639px){
		padding: 20px 20px;
		padding-left: 20px;
	}
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #34314C;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    z-index: 99999;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
    padding: 9px 15px;
	
	@media (max-width: 769px){
		&#brand{
			padding: 4px 0px;
		}
	}
}

.navbar-container.fixed-theme {
    padding: 10px 40px;
    .mobile_log_in_header_btn{
	    padding: 11px 0px;
    } 
    @media (max-width: 639px){
	    padding: 10px 20px;
    }
}


.nav.navbar-nav{
    float: right;
    *{
    	color: #fff;
    }
    .btn{
    	border: 2px solid #fff;
    	background: transparent;
    }
    .log_in_header_btn{
    	border: none;
		font-size: 24px;
		font-weight: 600;
		line-height: 31px;
	    margin-right: 15px;
	    @media (max-width: 959px){
			font-size: 20px;
			line-height: 26px;
		}

    }
    .sign_up_btn{
        padding: 10px 65px 13px;
		color: #fff;
		font-size: 24px;
		font-weight: 600;
		line-height: 31px;
		text-align: center;
		@media (max-width: 1199px){
	       padding: 10px 65px 11px;
		}
		@media (max-width: 959px){
			padding: 10px 65px 10px;
			font-size: 20px;
			line-height: 26px;
		}
    }

}

.parallax-window {
    min-height: 480px;
    background: transparent;
}
.upper_parallax{
    height: 100vh;
    background: transparent;
}
.navbar-toggle{
	display: none;
}
.mobile_log_in_header_btn{
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	padding: 5px 0px;
	display: none;
	outline: none !important;
	color: #fff !important	;
	@media (max-width: 767px){
		display: block;
	}
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}


.parallax_block{
	background: transparent;
	height: 100vh;
	min-height: 850px;
	width: 100%;
	z-index: 99;
	
	@media (max-width: 959px){
		max-height: 752px;
	}
	@media (max-width: 639px){
		max-height: 517px;
	}


} 
.middle_parallax{
	background: transparent;
	height: 100vh;
	min-height: 850px;
	width: 100%;
	@media (max-width: 959px){
		max-height: 752px;
	}
	@media (max-width: 639px){
		max-height: 517px;
	}
}

#wrapper {
	#request_invite_modal {
		.modal-dialog {
			height: 490px;
			width: 870px;
		    margin: 110px auto;
			.modal-content {
				text-align: center;
			    padding: 60px 60px 44px;
				border-radius: 6px;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);

				h2{
					color: #333333;
					font-family: dosis_regular;
					font-size: 36px;
					font-weight: 600;
					line-height: 46px;
					text-align: center;
					margin-top: 0px;
				}
				>p{
					color: #747474;
					font-size: 24px;
					font-weight: 300;
					line-height: 31px;
					text-align: center;
				}
				form {
				    margin-top: 13px;
					.form_input {
						width: 300px;
						height: 48px;
						border: 2px solid #DEDEDE;
						border-radius: 5px;
						padding-left: 10px;
						margin: 5px;
						color: #333333;
						border: 1px solid #DEDEDE;
						border-radius: 5px;
						background-color: #FFFFFF;
					}
					.form_input, .bootstrap-select, .filter-option, .text{
					    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;

					}
					.fa-eye{
						font-family: 'Font Awesome\ 5 Free' !important;
						&:hover{
							opacity: .8;
						}
					}
					.form_control, .input-group-btn{
						display: inline-block;
						vertical-align: top;
					}
					.reveal_password_btn{
						position: absolute;
						top: 17px;
						right: 13px;
						border: none;
						background: none;
						font-size: 16px;
						outline: none !important;
						color: #F05555;
					}

					.form_control{
						position: relative;
					}
					.bootstrap-select {
						width: 300px;
						height: 48px;
						margin: 5px;
					    margin-top: -3px;
						.bs-caret{
							right: 11px;
							position: absolute;
							font-size: 23px;
							top: 8px;
							color: #F05555;
						}
						.btn {
						    outline: none !important;
							font-size: 14px;
							width: 300px;
							height: 48px;
							border-radius: 5px;
							padding: 0px;
							padding-left: 12px;
							background-color: transparent;
							color: #757575 !important;
							font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
							border: 1px solid #DEDEDE;

							&:hover {
								color: #757575 !important;
							}
						}
					}
				}
				.sign_up_button {
					display: block;
					border: none;
					width: 346px;
					height: 60px;
					margin: 0px auto;
					margin-top: 30px;
					font-size: 23px;
					padding: 15px 40px;
					background: linear-gradient(47.33deg, #F25557 0%, #F27858 100%), linear-gradient(47.33deg, #F25557 0%, #F27858 100%);

				}
				.already_registered_text{
					font-size: 16px;
					font-weight: 600;
					line-height: 20px;
					text-align: center;
					color: #747474;
				    margin-top: 16px;
					a.sign_in_btn{
						color: #F05555;
					}
				}
				.secondary_button {
					font-size: 16px;
					font-family: kelson_regular;
					color: gray;
					margin-top: 30px;
					display: inline-block;
					vertical-align: top;
				}
			}
		}

		.close{
			position: absolute;
			top: -11px;
			right: -28px;
			opacity: 1;
			color: #fff;
			font-size: 36px;
		}
		@media screen and (max-width: 959px){
			.modal-dialog{
			    max-width: 620px;
	    	    .modal-content{
	    	        padding: 18px 0px 20px;
    	    	    h2{
	    	    	    text-align: left;
	    	    	    padding-left: 30px;
	    	    	    font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
	    	    	    font-weight: 600;
    	    	    }
    	    	    p{
	    	    	    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
    	    	    	padding-left: 30px;
    	    	    	text-align: left;
    	    	    }
    	    	    .sign_up_form{
						border-top: 1px solid #DEDEDE;
						padding: 0px 30px;
						padding-top: 18px;
    	    	    }
    	    	    form{
    	    	    	.form_input{
	    	    		    width: 267px;
    	    	    	}
    	    	    	.bootstrap-select{
	    	    		    width: 267px;
    	    	    		.btn{
    	    	    			width: 100%;
    	    	    		}

    	    	    	}
	    	    	}
	    	    	.sign_up_button{
						padding: 10px 65px 10px;
						font-size: 20px;
						line-height: 26px;
						height: auto;
	    	    	} 
	    	    	.already_registered_text{
	    	    	    font: 14px/17px dosis_regular, tahoma, verdana, arial, sans-serif;
	    	    	}
	    	    	.close{
	    	    		outline: none !important;
						top: 7px;
						right: 19px;
						color: #F05555;
	    	    	}
	    	    }
			}
		}
		@media screen and (max-width: 639px){
			.modal-dialog{
			    margin: 60px auto;
				max-width: 100%;
				width: 80%;
				.modal-content{
					padding: 12px 0px 12px;
					>p{
						display: none;
					}
					h2{
						font: 20px/26px dosis_medium, tahoma, verdana, arial, sans-serif;
						font-weight: 600;
					    padding-left: 52px;
					}
					.close{
					    top: 5px;
					    left: 19px;
					}
					.sign_up_form{
					    padding: 0px 20px;
				        padding-top: 13px;
					}
					form{
						.form_input{
						    width: 100%;
						    margin-right: 0px;
						    margin-left: 0px;
						}
						.form_control{
							width: 100%;
						}
						.filter-option,  .text, .bootstrap-select, .form_input{
					        font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
						}
						.bootstrap-select{
							margin-right: 0px;
						    margin-left: 0px;
					        font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
							width: 100%;
							margin-top: 7px;
						}
					}
					.sign_up_button{
						width: 100%;
						margin-top: 10px;
						font-size: 16px;
						line-height: 20px;
					}
					.already_registered_text{
						padding-left: 0px;
					}
				}
			}
		}
	}

	#mighty_vet_education_team_modal {
		.modal-dialog {
		    width: 958px;
			height: auto;
			margin: 70px auto;
			.modal-content {
				text-align: center;
		        padding: 60px 30px 44px;
				border-radius: 6px;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);

				ul.education_team_list {
					li {
						width: 420px;
						min-height: 100px;
						border: 1px solid #DEDEDF;
						display: inline-block;
						vertical-align: top;
						margin: 13px 13px;
						border-radius: 10px;
						padding: 30px 0px;
						img {
							display: inline-block;
							vertical-align: top;
						}
						.profile_block {
						    width: 268px;
							display: inline-block;
							vertical-align: top;
							margin-left: 8px;
							text-align: left;
							h5 {
								color: #333333;
								font-family: dosis_regular;
								font-size: 24px;
								font-weight: 600;
								line-height: 30px;
							}
							span,p {
								color: #9B9B9B;	font-family: dosis_regular;	font-size: 14px;	line-height: 17px;
							}
							span{
								height: 59px;
								display: inline-block;
								vertical-align: top;
							}
						}
					}
				}
				.see_more_button {
					background-color: #FAFAFA;
					color: @orange;
					display: inline-block !important;
					vertical-align: top;
					padding: 10px 30px;
					font-family: kelson_bold;
					font-size: 20px;
					text-decoration: none;
					border-radius: 40px;
					margin-top: 20px;


					&:hover {
						background-color: @orange;
						color: @white;
					}
				}
			}
		}

		.close{
			position: absolute;
			top: -11px;
			right: -28px;
			opacity: 1;
			color: #fff;
			font-size: 36px;
		}

		@media screen and (max-width: 1199px){
			.modal-dialog{
			    max-width: 750px;
			    .modal-content{
			    	h3{
		    		    margin-bottom: 55px;
		    		    margin-top: 0px;
			    	}
			    	ul.education_team_list{
			    		li{
			    			padding: 30px;
		    			    text-align: left;
							width: 100%;
							margin: 0px;
							margin-bottom: 20px;
							.profile_block{
								width: 85%;
								span{
								    height: 51px;
								}
							}
			    		}
		    		}
			    }
			}
		}
		@media screen and (max-width: 959px){
			.modal-dialog{
		    	max-width: 547px;
				.modal-content{
				    padding: 20px 0px 44px;
					
					h3{
						margin-bottom: 0px;
						padding-bottom: 19px;
						font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
						font-weight: 600;
						text-align: left;
					    padding-left: 30px;
					}
					.education_team_list{
						border-top: 1px solid #DEDEDE;
					    padding: 0px 30px;
						padding-top: 18px;
					}
					ul.education_team_list{
						li{
							.profile_block{
							    width: 77%;
							}
						}
					}
				}
			}
			.close{
				top: 20px;
				right: 27px;
				color: #F05555;
			}
		}
	}

	#splash_section{
		height: 100vh;
		width: 100%;
		background: #f05755a6;
		padding: 0px !important;
		.container{
			position: absolute;
			top: 196px;
			text-align: center;
			.mobile_title_container{
				display: none;
				@media (max-width: 639px){
					display: block;
				}
				.content{
					h1{
						font-size: 28px;
						font-weight: 600;
						line-height: 36px;
					}
				}
				.btn_container{
					.btn{
						width: 100%;
						font-size: 16px;
						font-weight: 600;
						line-height: 20px;
						text-align: center;
						padding: 11px 65px;
					}
					.learn_more_btn{
					    margin-left: 0px;
						span{
							font-size: 16px;
							line-height: 16px;
							text-align: center;
							display: block;
						}
					}
				}
				.offers_list{
	    			margin-bottom: 60px;
					li{
					    height: 60px;
					    vertical-align: middle;
						*{
							color: #fff;
						}
						&.offers_item{
							display: inline-block;
							vertical-align: top;
						    padding: 7px 30px;
							border-right: 2px solid rgba(255,255,255,0.5);
							&:last-child{
								border-right: 2px solid transparent;
							}
							
							p{
								font-size: 15px;	font-weight: 500;	line-height: 19px;
							}
							.fas{
							    height: 25px;
								font-size: 17px;
								display: block;
							}
						}
					}
				}
			}
		    .title_container{
		    	margin: 0px auto;
		    	margin-top: 80px;
				text-align: left;
				max-width: 913px;
				@media (max-width: 639px){
					display: none;
				}

		    	.offers_list{
		    		margin-bottom: 60px;
					li{
					    height: 60px;
					    vertical-align: middle;
						*{
							color: #fff;
						}
						&.offers_item{
							display: inline-block;
							vertical-align: top;
						    padding: 7px 30px;
							border-right: 2px solid rgba(255,255,255,0.5);
							&:last-child{
								border-right: 2px solid transparent;
								p{
									max-width: 200px;
								}
							}
							&:first-child{
								p{
									margin-top: 8px;
								}
								padding-left: 0px;
							}
							p{
								font-size: 24px;
								display: inline-block;
								vertical-align: top;
								margin-top: 0px;
							    max-width: 155px;
							}
							.fas{
							    margin-right: 9px;
								font-size: 44px;
							}
						}
					}
				}
		    }
			.content{
				*{
					color: #fff;
				}
				>h2{
				    font-size: 24px;
					font-family: dosis_regular;
					margin-bottom: 0px;
					img{
					    width: 200px;
					}
				}
				h1{
					margin-bottom: 33px;
					margin-top: 10px;
					font-size: 42px;
					font-weight: 600;
					line-height: 53px;
				}
				p{
					font-family: dosis_light;
				}
			}
			.btn_container{
			    // margin-top: 40px;
				.btn{
				    padding: 16px 65px;
					background: #fff;
					color: #F05555;
					font-size: 24px;
					font-weight: 600;
					line-height: 31px;
					text-align: center;

				}
				.learn_more_btn{
					margin-left: 20px;
					font-size: 20px;
					color: #fff;
					margin-top: 20px;
					display: inline-block;
					vertical-align: top;
					&:hover{
						text-decoration: none !important;
					}
					span{
						margin-right: 10px;
					}
				}
			}
		}
		@media (min-width: 1200px){
		    .container{
		    	width: 100%;
		    }
		}
		@media (max-width: 1201px){
		    .container{
		    	.title_container{
	    		    margin-left: 80px;
		    	}
		    }
		}
		@media (max-width: 1199px){
		    .container{
		    	.title_container{
	    		    margin-left: 44px;
		    	}
		    }
		}
		@media (max-width: 959px){
			max-height: 752px;
		    .container{
	    	    top: 133px;
		    	.title_container{
    		        margin-left: 25px;
		            padding-right: 25px;
		    		.offers_list{
		    			margin-bottom: 2px;
		    			li{
		    				&.offers_item{
		    					display: block;
		    					padding: 0px;
		    					border-right: none;
		    					.fas{
	    						    width: 30px;
	    						    font-size: 28px;
    						        padding-bottom: 16px;
		    						border-bottom: 2px solid rgba(255, 255, 255, 0.5);

	    						    &.fa-user-md{
    						    	    font-size: 32px;
	    						    }
	    						    &.fa-laptop{
    						    	    font-size: 23px;
	    						    }
		    					}
		    					p{
		    						margin-top: 5px;
	    						    max-width: 100%;
    						        font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
		    					}
		    					&:first-child{
		    						p{
		    							margin-top: 0px;

		    						} 
		    					}	 
		    					&:last-child{
	    						    padding-top: 8px;
		    						p{
		    							margin-top: 0px;
		    							max-width: 100%;
		    						} 
		    						.fas{
			    						border-bottom: none;
		    						}	 
		    					}	 
		    				}
		    			}
	    			}
	    			.btn_container{
	    				.btn{
							padding: 10px 65px 10px;
							font-size: 20px;
							line-height: 26px;
	    				}
	    				.learn_more_btn{
	    					 margin-top: 12px;
	    					span{
								font-family: dosis_semibold;
								font-size: 20px;
								line-height: 26px;
	    					}
	    				}
    				}
		    	}
		    	.content{
		    		> h2{
		    			font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
		    		}
		    		h1{
	    			    font: 36px/46px dosis_bold, tahoma, verdana, arial, sans-serif;
		    		}
	    		}
		    }
		}
		@media (max-width: 639px){
			max-height: 540px;
			.container{
				.mobile_title_container{
					.btn_container{
						.btn{
							max-width: 350px;
							display: block;
							margin: 0px auto;
						}
					}
				}
			}
		}
		@media (max-width: 520px){
			.container{
				.mobile_title_container{
					.offers_list{
						li{
							&.offers_item{
							    padding: 7px 7px;
							}
						}
					}
				}
			}
		
		}
	}
	
	#my_vet_offering_section{
		padding: 0px;		
		h3{
			text-align: left;
		}

		#weekly_webinar_container{
			background: #FAFAFA;
		    padding: 110px 80px 120px;
			>h3{
				color: #F05555;
			    text-align: center;
		        margin-top: 0px;
	        	margin-bottom: 47px;
			}
			.left_container, .right_container{
				text-align: left;
				display: inline-block;
				vertical-align: top;

			}
			.left_container{
				width: 350px;
				margin-right: 77px;
			}
			.container{
			    text-align: center;
			}
			.btn{
				color: #fff !important ;
				margin-top: 20px;
				background: linear-gradient(47.33deg, #F25557 0%, #F27858 100%), linear-gradient(47.33deg, #F25557 0%, #F27858 100%);
			}
			.right_container{
				padding-top: 24px;
			    width: 65%;
			    position: relative;
			    >span{
					margin-bottom: 16px;
					display: inline-block;
		    	    font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
		    	    color: #F05555;
			    }
				#mighty_vet_offering_swipper_container {
					width: 100%;
				    box-shadow: 6px 0 5px -3px #BFBFBF;
					.swiper-slide{
						margin-right: 30px;
						width: 450px !important;
						background: linear-gradient(47.33deg, #F25557 0%, #F27858 100%), linear-gradient(47.33deg, #F25557 0%, #F27858 100%);
					    border-radius: 15px;
						display: inline-block;
						vertical-align: top;
					    padding: 30px;


					    img{
					    	width: 160px;
					    }

					    .content{
							width: 225px;
							vertical-align: top;
							display: inline-block;
							padding-left: 20px;
						    >h6{
						    	font: 16px/30px dosis_regular, tahoma, verdana, arial, sans-serif;
						    }
							*{
								color: @white;
							}
							p{
								font: 14px/17px dosis_regular, tahoma, verdana, arial, sans-serif;
							}
							.btn{
								font-size: 12px;
								border: 1px solid #fff;
								padding: 5px 20px;
							    margin-top: 0px;

							}
					    }
					}
					.swiper-button-next{
						right: -10px;
					}
				}

				.next_swipper_btn, .prev_swipper_btn{
					top: 55%;
					z-index: 8;
					cursor: pointer;
					position: absolute;
					.fas{
						font-size: 32px;
						color: #F05555;
					}
					&.swiper-button-disabled{
						display: none;
					}
					
				}
				.prev_swipper_btn{
					left: -43px;
				}
				.next_swipper_btn{
					right: -43px;
				}

				
				.the_martian_container{
					display: inline-block;
					background: #f05755;
					vertical-align: top;
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					padding: 30px;

				}
			}
			@media (min-width: 1200px){
				.container{
					width: 100%;
				}
			}
		}
		@media (max-width: 1440px){
			#weekly_webinar_container{
				.right_container{
					width: 56%;
				}
			}
		}
		@media (max-width: 1199px){
			.btn{
				padding: 13px 40px;
				font-size: 21px;
			}
			#weekly_webinar_container{
			    padding: 110px 60px 100px;
			    .container{
			    	padding: 0px;
			    }
		    	.left_container{
					width: 332px;
					margin-right: 63px;
		    	}
				.right_container{
				    width: 417px;
					#mighty_vet_offering_swipper_container{
						.swiper-slide{
							.content{
								width: 222px;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 959px){
			#weekly_webinar_container{
	            padding: 89px 40px 61px;
			    > h3{
		    	    margin-bottom: 26px;
			    }
			    h3{
    	        	font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
		    	    font-weight: 600;
			    }
			    p{
					font-size: 16px;
					line-height: 20px;
			    }
			    .container{
		    	    text-align: left;
			    	padding-left: 12%;
			    }
			    .right_container{
		    	    width: 95%;
		    	    padding-top: 45px;
		    	    span{
	    	    	    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
		    	    }
			    }
			    .left_container{
		    	    width: 100%;
		    	    margin-right: 0px;
		    	   .btn {
		    	   	    margin-top: 10px;
					    padding: 10px 35px 10px;
					    font-size: 20px;
					    line-height: 26px;
					}
			    }
			}
		}
		@media screen and (max-width: 639px){
			#weekly_webinar_container{
		    	padding: 53px 20px 61px;

		    	.container{
		    		padding-left: 0px;
		    	}
		    	>h3{
	    		    margin-bottom: 12px;
		    	}
		    	p{
		    		font-size: 15px;
		    		line-height: 22px;
		    	}
	    		h3{
	    			text-align: center;
					font: 20px/26px dosis_medium, tahoma, verdana, arial, sans-serif;
					font-weight: 600;
	    		}
		    	.left_container{
		    		text-align: center;
		    		.btn{
						width: 100%;
						font-size: 16px;
						font-weight: 600;
						line-height: 20px;
						max-width: 350px;
						display: block;
						margin: 0px auto;
		    		}
		    	}
		    	.right_container{
		    		.next_swipper_btn{
		    			display: none;
		    		}
		    		#mighty_vet_offering_swipper_container{
		    			.swiper-slide{
							width: 300px !important;
							height: 180px;
							padding: 15px;
							img{
								width: auto;
								height: 100%;
							}
							.content{
							    width: 162px;

							    h5{
							    	font-size: 15px;
							    	font-weight: bold;
							    	line-height: 19px;
							    }
							    >p{
							    	display: none;
							    }
							}
		    			}
	    			}
    			}
			}
		}

	}


	#mightyvet_highlights_section{
	    padding: 110px 80px 61px;
		background: linear-gradient(47.33deg, #F25557 0%, #F27858 100%), linear-gradient(47.33deg, #F25557 0%, #F27858 100%);
		.container{
			
			*{
				color: @white;
			}
			h3{
			    text-align: center;
				margin-top: 0px;
			}
			.list-unstyled{
				text-align: center;
		        margin-top: 57px;
				.highlights_item{
				    text-align: center;
			        margin-bottom: 46px;
					display: block;
					vertical-align: top;
					img{
						display: inline-block;
						vertical-align: top;
					}
					.content{
						text-align: left;
						max-width: 600px;
						padding-left: 20px;
					    padding-right: 20px;
						display: inline-block;
						vertical-align: top;
						h3{
							text-align: left;
						    // max-width: 240px;
						}
						
					}
				}
			}
		}
		@media screen and (min-width: 1200px){
		    .container{
		    	width: 100%;
		    }
		}
		@media screen and (max-width: 959px){
		    padding: 80px 40px 50px;
		    .container{
	    	    max-width: 600px;
		    	padding: 0px;
		    	text-align: left;
		    	h3{
	    		    padding-left: 78px;
		    		text-align: left;
					font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
					font-weight: 600;
		    	}
		    	.list-unstyled{
		    		text-align: left;
		    		.highlights_item{
	    			    margin-bottom: 36px;
	    			    text-align: left;
		    			.content{
	    				    max-width: 80%;
	    				    h3{
	    				    	padding-left: 0px;
	    				    }
	    				    p{
									font-size: 16px;
									line-height: 20px;
	    				    }
		    			}
	    			}
    			}
		    }
		}
		@media screen and (max-width: 639px){
			padding: 60px 20px 20px;
			.container{
				h3{
					text-align: center;
					padding-left: 0px;
					font-size: 20px;
					font-weight: 600;
					line-height: 26px;
				}
				.list-unstyled{
					.highlights_item{
						text-align: center;
						.content{
						    text-align: center;
						    max-width: 100%;
						    padding: 0px;
						    h3{
					    	    text-align: center;
						    }
						}
					}
				}
			}
		}
	}

	#what_mightyvet_section {
		background-color: @white;
		text-align: center;
	    padding: 88px 80px 80px;
		.what_mightyvet_section_list {
			.featured_block {
				border-top: 1px solid #DEDEDF;
				h4 {
					color: #F05555;
					font: 20px/26px dosis_regular,tahoma,verdana,arial,sans-serif;
				}
				ul {
					li {
						display: inline-block !important;
						vertical-align: top;
						margin: 20px 5px;
						width: 250px;
						vertical-align: middle;
						&:hover{
							opacity: .5;
						}
					}
				}
			}
			.what_mightyvet_section_item {
				p {
				    max-width: 690px;
					display: inline-block;
					vertical-align: top;
					margin-bottom: 92px;
				}
				h3{
				    margin-top: 0px;
					color: #F05555;
				    margin-bottom: 17px;
				}
				&.featured_block{
				    padding: 80px 0px 0px;
				}
			}
		}

		@media (max-width: 1260px){
		    .what_mightyvet_section_list{
		    	.featured_block{
		    		ul{
		    			li{
		    				width: 23.33%;
		    				&.blue_heron_item{	
			    				img{
		    					    width: 100%;
			    				}
		    				}
		    			}
	    			}
    			}
			}
		}
		@media (max-width: 1199px){
			padding: 88px 40px 80px;
			.what_mightyvet_section_list{
				.featured_block{
					ul{
						li{
							img{
						    	// width: 194px;
								
							}
						}
					}
				}
			}
		}
		@media (max-width: 959px){
            
			.what_mightyvet_section_list{
				padding: 0px;
				.what_mightyvet_section_item{
					h3{
						font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
						color: #333333;
						font-weight: 600;
					}
					p{
						font-size: 16px;
						line-height: 20px;
						color: #333333;
					}
					&.featured_block{
						padding: 44px 0px 0px;
					}
				}
				.featured_block{
					ul{
						li{
							vertical-align: middle;
			                width: 22%;
							img{
						    	// width: 100%;
							}
						}
					}
				}
			}
		}
		@media (max-width: 720px){
			.what_mightyvet_section_list{
				.featured_block{
					ul{
						li{
							img{
						    	width: 100%;
							}
							&.blue_heron_item{
								width: auto;
								img{

								}
							}
						}
					}
				}
			}
		}
		@media (max-width: 639px){
	       padding: 58px 20px 41px;
		    .what_mightyvet_section_list{
		    	.what_mightyvet_section_item{
		    		p{
	    			   margin-bottom: 32px;
		    		}
		    		&.featured_block{
	    			    padding: 18px 0px 0px;
		    			ul{
		    				li{
	    					    width: 33%;
	    					    img{
	    					    	width: auto;
	    					    }
	    					    &.blue_heron_item{
	    					    	width: 100%;
	    					    	img{
	    					    		width: auto;
	    					    	}
	    					    }
		    				}
	    				}
		    		}
	    		}
    		}
		}
		@media (max-width: 520px){
		    .what_mightyvet_section_list{
		    	.what_mightyvet_section_item{
		    		
		    		&.featured_block{
		    			ul{
		    				li{
	    					    width: 100%;
	    					    img{
	    					    	width: auto;
	    					    }
	    					    &.blue_heron_item{
	    					    	width: 100%;
	    					    	img{
	    					    		width: auto;
	    					    	}
	    					    }
		    				}
	    				}
		    		}
	    		}
    		}
		}
	}

	#mentor_section {
		background-color: @white;
	    padding: 143px 40px 176px;
		.container {
			text-align: center;
			.btn {
				margin-top: 10px;
				background-image: -webkit-linear-gradient(303deg, #f25557 0%, #f27858 100%), -webkit-linear-gradient(303deg, #f25557 0%, #f27858 100%);
				background-image: -o-linear-gradient(303deg, #f25557 0%, #f27858 100%), -o-linear-gradient(303deg, #f25557 0%, #f27858 100%);
				background-image: linear-gradient(33deg, #f25557 0%, #f27858 100%), linear-gradient(33deg, #f25557 0%, #f27858 100%);
			}
		}
		
		.mentor_description {
			margin-right: 100px;
			max-width: 407px;
			text-align: left;
			display: inline-block !important;
			vertical-align: top !important;
		}
		.featured_mentors_container {
			display: inline-block !important;
			vertical-align: top !important;
			margin-left: 10px;
		}
		.education_team_container{
			display: inline-block;
			vertical-align: top;
		    width: 556px;
		    position: relative;

			>h5{
				margin-top: -11px;
				margin-bottom: 34px;
				display: block;
				font: 20px/26px dosis_regular, tahoma, verdana, arial, sans-serif;
				color: #F05555;
			}
			
			.education_team_content{
		    	height: 350px;
				position: relative;
				ul.education_team_list {
					z-index: 1;
					position: relative;
					li {
						width: 100%;
						top: 0px;
						left: 0px;
						position: absolute;
						background: #fff;
					    text-align: left;
						display: none;
						background: #fff;
						min-height: 100px;
						border: 1px solid #DEDEDF;
						vertical-align: top;
						border-radius: 10px;
						padding: 30px;
						z-index: -99;
						&:first-child{
							display: block;
						}
						img {
							display: inline-block;
							vertical-align: top;
						}
						&.active{
							z-index: 9999;
						}
						.profile_block {
					        width: 80%;
							display: inline-block;
							vertical-align: top;
							margin-left: 8px;
							text-align: left;
							h5 {
								color: #333333;
								font-family: dosis_regular;
								font-size: 24px;
								font-weight: 600;
								line-height: 30px;
							}
							span,p {
								color: #9B9B9B;	font-family: dosis_regular;	font-size: 14px;	line-height: 17px;
							}
							span{
								height: 59px;
								display: inline-block;
								vertical-align: top;
							}
						}
					}
				}
				.border_container{
					border-radius: 10px;
					border: 1px solid #DEDEDF;
					height: 50%;
					left: 0;
					width: 100%;
					position: absolute;
					left: 0; 
					right: 0; 
					margin-left: auto; 
					margin-right: auto;
					background: #fff;

					&.first_border{
						width: 95%;	
					    top: -8px;
					}
					&.second_border{
						width: 90%;
					    top: -16px;
					}
					&.last_border{
						width: 85%;
					    top: -24px;
					}
				}
				
			}
			.btn_container{
				#view_all_mentors_btn, .next_and_previous_container_btn {
					font-family: dosis_regular;
					font-weight: 600;
					font-size: 14px;
					line-height: 30px;
					outline: none !important;
				    text-decoration: none;
				}
				#view_all_mentors_btn{
					color: #F05555;
					
				}
				.next_and_previous_container_btn{
				    float: right;
					.carousel_btn{
				     	text-decoration: none;
					    padding: 0px 5px;
						color: #F05555;
						&.disabled{
							color: #C8C8C8;
						}
						&.previous_mentor_btn{
						    border-right: 1px solid #c8c8c8;
						}
						&.next_mentor_btn{
						}
					} 
				}
			}

		}

		@media screen and (max-width: 1199px){
			.education_team_container{
			    width: 438px;
			    height: 100%;
			}
			.mentor_description{
			    margin-right: 69px;
			    max-width: 320px;
			}
			.education_team_container{

				.education_team_content{
				    min-height: 394px;
					ul.education_team_list{
						li{
							.profile_block{
							    width: 70%;
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 959px){
		    padding: 49px 40px 61px;
			.mentor_description{
				margin-right: 0px;
			    margin-bottom: 37px;
				max-width: 100%;
			}
			.education_team_container{
				width: 100%;
				max-width: 650px;
				> h5{
					font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
				    text-align: center;
				}
			}
			.container{
			    text-align: left;
			    padding-left: 12%;
			}
			h3{
				font: 30px/38px dosis_medium, tahoma, verdana, arial, sans-serif;
				font-weight: 600;
			}
			p{
				font-size: 16px;
				line-height: 20px;
			}
			.btn{
				margin-top: 10px;
				padding: 10px 35px 10px;
				font-size: 20px;
				line-height: 26px;
			}
		}
		@media screen and (max-width: 639px){
		    padding: 37px 20px 61px;
		    .container{
		    	padding: 0px;
		    }
		    .mentor_description{
	    	    text-align: center;
		    }
		    .btn{
				width: 100%;
				font-size: 16px;
				font-weight: 600;
				line-height: 20px;
				max-width: 350px;
				display: block;
				margin: 0px auto;
		    }
		    #view_all_mentors_btn{
		    	display: none;
		    }
		    .education_team_container{
		    	.education_team_content{
    			}
	    		.btn_container{
	    			.next_and_previous_container_btn{
						float: none;
						text-align: center;
						margin-top: 11px;
	    			}
    			}
			}
		}
		@media screen and (max-width: 590px){
			.education_team_container{
				.education_team_content{
					ul.education_team_list{
						li{
							img{
								position: absolute;
							}
							.profile_block{
							    width: 100%;
								>h5, >span{
									padding-left: 90px;
									width: 100%;
								}
								h5{
									font-size: 18px;
									font-weight: 600;
									line-height: 22px;
								}
								span{
								    height: auto;
								    min-height: 52px;
									padding-bottom: 18px;
								}
							}
						}
					}
				}
			}
		}

		#slider img{width:100%;height:auto}
		#slider{position:relative;padding-bottom:29.5%}
		#slider > div{position:absolute;display:none;}

	}

	#footer_section {
		background-color: @blue_violet;
		.container {
			.upper_sign_up_container{
				display: none;
			}
			.footer_sublinks {
				margin-right: 30px;
				color: #ADADAD;
				font-family: dosis_regular;
				font-size: 14px;
				font-weight: 300;
				line-height: 17px;
			}
			#footer_list {
				.footer_item {
					height: 252px;
					display: inline-block;
					vertical-align: top;
					width: 32%;
					border-right: 1px solid rgba(0,0,0,0.3);
					p {
						color: @white;
						font-size: 14px;
						margin-top: 7px;
						width: 85%;
					}

				}
				.main_footer {
					.follow_us_text{
						display: none;
					}
					a {
						display: block;
						text-decoration: none;
						span {
							margin-left: 5px;
							color: #2C4AAA;
							font-family: dosis_regular;
							font-size: 16px;
							font-weight: 600;
							line-height: 20px;
							text-align: center;
						}
					}
					>p{
						font-size: 14px;
						font-weight: 300;
						line-height: 17px;
					    margin-bottom: 17px;
					}
					.twitter_button {
						border: 1px solid #30A0F5;
						width: 210px;
						border-radius: 40px;
						text-align: center;
						height: 45px;
						padding: 10px;
						margin-bottom: 10px;
						span {
							color: #30A0F5;
							font-family: dosis_regular;
							font-size: 16px;
							font-weight: 600;
							line-height: 20px;
							text-align: center;
						}
						&:hover {
							border-color: @white;
							span {
								color: @white;
							}
						}
					}
					.fb_button {
						margin-top: 18px;
						background-color: @white;
						width: 130px;
						height: 45px;
						padding: 8px;
						border-radius: 40px;
						text-align: center;
						border: 1px solid #2E4FA6;
					}
				}
				.footer_signin {
					margin-left: 30px;
					border: 0px solid red;
					padding: 110px 0px;
					a {
						font-family: dosis_semibold;
						font-size: 24px;
						line-height: 31px;
						color: @white;
						text-decoration: none;
					}
					.sign_up_btn {
						border: 1px solid @white;
						border-radius: 40px;
					    padding: 10px 63px;
					    margin-left: 27px;

						&:hover {
							background-color: @orange;
						}
					}
				}
				.company_contacts {
					padding-left: 30px;

					div {
						width: 80%;
						display: inline-block;
						vertical-align: top;
						padding-top: 8px;
					}
					span {
						display: block;
						color: @white;
						font-family: dosis_light;

					}
					li {
						margin-bottom: 20px;
					}
					.contact_label {
						font-family: dosis_semibold;
						font-size: 14px;
					}

				}
			}
		}
		@media (max-width: 1199px){
			padding: 60px;
			text-align: center;
			.container{
				padding: 0px;
				display: inline-block;
				text-align: left;
				width: auto;
				#footer_list{
					margin-bottom: 20px;
					.footer_item{
				        width: 260px;
						// width: 230px;
					}
					.company_contacts{
					    padding-left: 5px;
						div{
							width: 200px;
						}
					}
					.footer_signin{
						text-align: center;
						padding: 74px 0px;
					
						a{
							display: block;
							vertical-align: top;
							text-align: center;
						}
						.sign_up_btn{
							display: inline-block;
							vertical-align: top;
							text-align: center;
							margin-top: 19px;
							margin-left: 0px;
							padding: 13px 65px;
						}
					}
				}
			}
		}
		@media screen and (max-width: 959px){
	        padding: 62px 44px 60px;
			.container{
				width: 100%;
				position: relative;
				#footer_list{
					.footer_item{
						height: auto;
					    padding: 30px 0px;
					    padding-bottom: 12px;
						width: 100%;
					    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
					    border-right: 0px solid rgba(0, 0, 0, 0.3);
					    p{
				    	    width: 100%;
					    }
					    .mighty_vet_container, .social_media_btn_container{
					    	display: inline-block;
					    	vertical-align: top;
					    }
				    	ul, .follow_us_text{
							display: inline-block;
							vertical-align: top;
				    	}
				    	#contact_list{
				    		.contact_item{
				    			display: inline-block;
				    			vertical-align: top;
			    			    width: 49%;
				    		}

				    	}

					    .social_media_btn_container{
					    	float: right;
					    	li{
					    		display: inline-block;
					    		vertical-align: top;
					    		margin-right: 15px;
					    		&:last-child{
					    			margin-right: 0px;
					    		}
					    	}
					    	span.follow_us_text{
				    		    font: 16px/20px dosis_regular, tahoma, verdana, arial, sans-serif;
								color: #fff;
								display: inline-block;
								margin-top: 11px;
								margin-right: 15px;
					    	}
					    	span{
					    		display: none;
					    	}
					    	.twitter_button, .fb_button{
					    		width: 45px;
					    		margin-top: 0px;
					    	}
					    }
					}
					.sign_up_container{
						float: right;
						display: inline-block;
						vertical-align: top;
						.sign_in_btn{
							display: inline-block;
							vertical-align: top;
							margin-top: 0px;
						}
					}
					.footer_signin{
						border: none;
						margin-left: 0px;
						.sign_in_btn{
							padding: 10px 35px 10px;
							font-size: 20px;
							line-height: 26px;
						}
						.sign_up_btn{
							padding: 10px 35px 10px;
							font-size: 20px;
							line-height: 26px;
						    margin-top: 0px;
						}
					}
				}
				.terms_and_privacy_container{
					position: absolute;
					bottom: 45px;
				}
			}
		}
		@media screen and (max-width: 639px){
		   padding: 0px 20px 20px;
		   .mighty_vet_container{
			   	img{
			   		width: 95px;
			   	}
		   	}
		   	.container{
		   		.terms_and_privacy_container{
				    bottom: 17px;
				}
		   		#footer_list{
		   			.footer_item{
		   				.social_media_btn_container{
	   					    display: none;
		   				}
		   				#contact_list{
		   					.contact_item{
		   						width: 100%;

		   					}
	   					}
	   					.sign_up_container{
	   						display: none;
	   					}

		   				.upper_sign_up_container{
		   					display: block;
		   					.sign_in_btn{
							    background: transparent;
								border: 1px solid #fff;
								margin-right: 10px;
		   					}
		   					.btn{
		   						padding: 12px 0px;
								font-size: 16px;
								width: 50%;
								line-height: 20px;
								display: inline-block;
								vertical-align: top;
							    width: 45%;
		   					}
		   					.sign_up_btn{
		   						background: #fff;
		   						color: #F25C58;
		   					}
		   				}
	   				}
   				}
			}
		}

	}
}


